/* Importation de la police Roboto */
@import url(https://fonts.googleapis.com/css?family=Roboto);

/* Définition des principales couleurs */
:root {
	--text-color : #fafafa; /* Texte presque blanc */
	--text-color-muted : #9a9a9a;
	--background: #3a3a3a; /* Fond bleu foncé */
	--main-accent: rgb(221, 111, 111);
	--active-accent: rgb(161, 68, 68);
}

* {
	color: var(--text-color) ;
}

body {
	background-color: var(--background);
	font: 14pt Roboto, Arial, sans-serif;
	margin: 0;
	padding: 0;
	width: 90%;
	margin: 40px auto;
}

/* Paragraphes "Aucun résultat..." et "Aucune recherche..." */
p.info-vide {
	font-style: italic;
}

/* Partie En-tête */
h1 {
	/* margin-top: 1em; */
	text-align: center;
	font-variant: small-caps;
	font-size: 2.5em;
	color: var(--main-accent);
}

p#explication {
	color: var(--text-color-muted);
	font-size: 1.2em;
}

/* Conteneur principal */
#conteneur {
	display: flex;
	flex: 1;
	margin: 30px auto;
}

/* Section Recherche (avec résultats) */
#section-recherche {
	margin-top: 0;
	flex: 1 1 auto;
}

#bloc-recherche {
	transform: skew(-5deg);
	display: flex;
	margin: 0 auto ;
	min-width: 450px;
	flex-direction: row;
}

#bloc-recherche>input[type=text],
#bloc-recherche>button {
	display: block;
	font-size: 1.2em ;
}

#bloc-recherche>input[type=text] {
	color: #2d2d2d; /* Presque noir */
	flex: 1;
	padding: 0.7em;
	border: 0.3em solid var(--main-accent);
}

#bloc-recherche>button {
	padding: 0.8em 0.8em;
	/* Bordure invisible pour que le hover ne bouge pas le bouton */
	border: 1px solid var(--main-accent);

	/* Par défaut, les boutons sont en gris
	 (S'ils sont "clicables", ils passent en vert) */
	background-color: #bebebe;
}

/* Apparences des boutons clicables */
#bloc-recherche>button.btn_clicable {
	background-color: var(--main-accent);
}

#bloc-recherche>button:focus {
	/* Pour éviter un affichage disgracieux
		quand le bouton reste en focus */
	outline: 0 !important;
}

#bloc-recherche>button.btn_clicable:hover {
	cursor: pointer;
	border: 4px solid white;
	padding: calc(0.8em - 3px);
}

#bloc-recherche>button.btn_clicable:active {
	background-color: var(--active-accent);
}

/* GIF de chargement (caché par défaut) */
#bloc-gif-attente {
	display: none;
	margin: 40px;
	text-align: center;
}

#bloc-resultats p.res::before{
	/* Affichage d'une flèche devant chaque résultat
		(Cf. https://unicode-table.com/fr/21E8/ ) */
	content: "\21E8\00A0";
}

/* Section de la barre de séparation */
#section-separation {
	border-left: 2px dashed var(--main-accent);
	margin: 0 20px;
}

/* Section des recherches favorites */
#section-favoris {
	flex: 0 0 300px;
	margin-top: 0;
	margin-bottom: 20px;
}

#section-favoris h2 {
	margin-top: 0;
}

#section-favoris p {
	margin-bottom: 8px;
}

#section-favoris p:nth-child(2) {
	color: var(--text-color-muted);
}

#liste-favoris li {
	margin-bottom: 8px;
	cursor: pointer;
}

#liste-favoris li span {
	text-decoration: underline;
}

#liste-favoris li span:hover {
	color: var(--main-accent);
}

/* Media-query pour gérer l'affichage sur petit écran */
@media (max-width: 900px) {
	#conteneur {
		flex-direction: column-reverse;
	}

	#section-separation {
		border-top: 2px dashed var(--main-accent);
		margin: 0 -10px 40px -10px;
	}

	#section-favoris {
		flex: 0;
	}
}

#resultat {
	border: 0.3em solid var(--main-accent);
	width: calc(100% - 30px - 0.6em);
	background-color: var(--text-color);
	margin-top: 15px;
	padding: 15px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: center;
}

#resultat *:is(h1, h2, h3) {
	padding: 0;
	margin: 0;
}

#resultat * {
	color: var(--main-accent);
}

#resultat > div {
	display: flex;
	flex-direction: column;
}

#header > * {
	display: inline;
}

#pkmn_name {
	text-transform: capitalize;
}

#sprite {
	height: 100%;
	background-color: #f0f0f0;
}

#resultat progress { -webkit-appearance: none; }
#resultat progress::-webkit-progress-bar { background-color: var(--text-color); }
#resultat progress::-webkit-progress-value { background-color: var(--main-accent); }
#resultat progress::-webkit-progress-inner-element { border: 2px solid var(--background); }
#resultat progress::-moz-progress-bar {
	background-color: var(--main-accent);
}

#type_list {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.type {
	margin: 0.2em;
	font-size: 1.5em;
	padding: 0.3em 1.2em;
	border-radius: 0.3em;
	background-color: #000;
	color: var(--text-color) !important;
	text-transform: uppercase;
}

.type_normal { background-color: #a4acaf; }
.type_fighting { background-color: #d56723; }
.type_flying { background:  linear-gradient(180deg, #3dc7ef, #bdb9b8); }
.type_poison { background-color: #b97fc9; }
.type_ground { background: linear-gradient(180deg, #f7de3f, #ab9842); }
.type_rock { background-color: #a38c21; }
.type_bug { background-color: #729f3f; }
.type_ghost { background-color: #7b62a3; }
.type_steel { background-color: #9eb7b8; }
.type_fire { background-color: #fd7d24; }
.type_water { background-color: #4592c4; }
.type_grass { background-color: #9bcc50; }
.type_electric { background-color: #eed535; }
.type_psychic { background-color: #f366b9; }
.type_ice { background-color: #51c4e7; }
.type_dragon { background: linear-gradient(180deg, #53a4cf, #f16e57); }
.type_dark { background-color: #707070; }
.type_fairy { background-color: #fdb9e9; }

.infos *:is(h2, h3) {
	color: var(--background) !important;
}

.infos h3{
	opacity: 80%;
	margin-left: 1em !important;
	font-style: italic;
}